@import '../../../assets/sass/main';

.container-card{
  overflow:auto;
}

.input-field{
    margin-bottom: 10pt;

}

.input{
    position: relative;
    left:26%;
    width: 50%;
    font-size: 12pt;
}
.btn-register{
    margin-top: 12pt;
    left: 36%;
    width: 30%;
    position: relative;
    background: $secondary-color;
    color: white;
    margin-bottom: 20px;
}
